<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
</head>
<body>
    <a ttype="button" th:href="@{/add_book}" class="btn btn-primary">Add book</a>
    <a type="button" th:href="@{/add_publisher}" class="btn btn-primary">Add publisher</a>
    <a type="button" th:href="@{/list_book}" class="btn btn-success">List book</a>
    <a type="button" th:href="@{/list_publisher}" class="btn btn-success">List publisher</a>
</body>
</html>